#root {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    min-height: 100vh;
}
.mainSection {
    flex-grow: 1;
}
.tituloInicio {
    background: #d3ac00;
}
.card-img-top-nueva {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.navBar{
    background: #353535;
}

.navLink{
    color: #ffff;
    font-size: 2rem;
}